* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, *:fullscreen, *:-webkit-full-screen, *:-moz-full-screen {
    background-color: white !important;
    z-index: 1;
}


::backdrop {
    z-index: 0;
    background-color: white !important;
}


::-webkit-scrollbar {
    width: 4px;
    height: 3px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.1);
    right: 0px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(6, 91, 55);
    border-radius: 2px;
}

body {
    overflow: hidden;
}


#navbar {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(103, 112, 108, 0.8);
    color: #fff;
    height: 50px;
    width: 100%;
    border-top-width: 3px; /* 2px width */
    border-top-style: solid; /* solid style */
    border-color: #4e5754;; /* red color */
}

/*#map {
	position: absolute;
	width: 100%;
	height: 100%;
}*/

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-width: 7px;
    border-style: solid;
    border-color: #9ecae1;
}

.ol-popup {
    display: none;
}

.mousePosition {
    position: fixed;
    /*right: 2px;*/
    left:45%;
    bottom: 2px;
    border-radius: 10px;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #087047;
}

.ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}

.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.ol-popup-closer:after {
    content: "✖";
}

.myButton {
    background-color: rgba(32, 148, 96, 0.8);
    color: white;
    font-weight: 700;
    text-align: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: none;
    /* align-items: center; */
    /* padding-top: 3px; */
}

.myButton:hover {
    background-color: rgb(4, 85, 115);
}

.myButton.clicked {
    /*background-color: rgba(22, 170, 35, 0.8);*/
    background-color: rgba(136, 47, 8, 0.8);
}

.myButton.clicked:hover {
    background-color: rgba(22, 170, 35, 1);
}

/* .homeButtonDiv{
  position: relative;
  display: block;
  margin: 10px auto auto 10px;
} */

.homeButtonDiv {
    /* position: absolute; */
    display: flex;
    /* margin: 10px auto auto 10px; */
    /* top: 10px;
    left: 10px; */
}

.toolbarDiv {
    position: absolute;
    display: block;
    /*display: flex;*/
    /* margin: 10px auto auto 10px; */
    top: 7px;
    left: 10px;
}

.toolbarDiv {
    animation: toolbarDiv 2s linear;
}

@keyframes toolbarDiv {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.mapBarDiv {
    position: absolute;
    display: block;
    top: 7px;
    right: 10px;
}

.mapBarDiv {
    animation: mapBarDiv 2s linear;
}

@keyframes mapBarDiv {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.printButton {
    position: relative;
    display: block;
    margin: 1px auto auto 10px;
}


.fsButtonDiv {
    /* position: absolute; */
    display: block;
    /* margin: 1px auto auto 10px; */
}

/*.ol-dragzoom {*/
/*background-color: rgba(219,63,63,.1);*/
/*border-width: 2px;*/
/*border-color: rgba(219,63,63,1);*/
/*}*/

.featureInfoDiv {
    position: relative;
    display: block;
    margin: 1px auto auto 10px;
}

.lengthButtonDiv {
    position: relative;
    display: block;
    margin: 1px auto auto 10px;
}

.areaButtonDiv {
    position: relative;
    display: block;
    margin: 1px auto auto 10px;
}

/* start : Measure styling */

.ol-tooltip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
    font-size: 12px;
}

.ol-tooltip-measure {
    opacity: 1;
    font-weight: bold;
}

.ol-tooltip-static {
    background-color: #ffcc33;
    color: black;
    border: 1px solid white;
}

.ol-tooltip-measure:before,
.ol-tooltip-static:before {
    border-top: 6px solid rgba(0, 0, 0, 0.5);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
}

.ol-tooltip-static:before {
    border-top-color: #ffcc33;
}

/* end : Measure styling */

.ziButtonDiv {
    position: relative;
    display: block;
    margin: 1px auto auto 10px;
}

.zoButtonDiv {
    position: relative;
    display: block;
    margin: 1px auto auto 10px;
}

.myButtonDiv {
    position: relative;
    display: block;
    /* margin: 1px auto auto 10px; */
    padding-top: 3px;
}

.ol-dragbox {
    border: 2px dashed grey;
    background-color: rgba(200, 200, 200, 0.6);
}

.toggleAttQueryDiv {
    display: block;
    position: absolute;
}

.toggleAttributeListDiv {
    display: block;
    position: absolute;
}

.layersDiv {
    position: absolute;
    display: none;
    width: 250px;
    /* height: 500px; */
    margin: 30px auto auto 55px;
    background-color: rgba(255, 255, 255, 0.3);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    line-height: 1.45;
    border-radius: 2px;
    border: 1px solid #d1d1d1;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.5);
    /* z-index: 4; */
     overflow: scroll;
}

.layersDiv:empty {
    display: none;
}

.layer-switcher {
    position: initial;
    top: 0px;
    right: 0px;
}

.layer-switcher ul {
    margin: 1em 0.4em;
}

.attQueryDiv {
    position: absolute;
    display: none;
    /*top: 10px;*/
    margin: 90px auto auto 55px;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.3);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    line-height: 1.45;
    border-radius: 2px;
    border: 1px solid #d1d1d1;
    box-shadow: 0px 0px 15px rgba(100, 100, 100, 0.5);
    /*z-index: 4;*/
    /* overflow: scroll; */
}

.attQueryDiv select {
    width: 225px;
    height: 35px;
    border: 1px solid lightgrey;
    border-radius: 40px;
    margin: 0px auto 20px 10px;
}

.attQueryDiv input {
    width: 225px;
    height: 35px;
    border: 1px solid lightgrey;
    border-radius: 40px;
    margin: 0px auto 20px 10px;
    padding: 10px;
}

.attQueryDiv label {
    color: grey;
    margin: 10px 10px 0px 10px;
}

/* .attQueryDiv label:nth-child(1) {
  margin: 10px;
  font-weight: bold;
 } */

.attQryRun {
    color: white;
    background-color: #066906;
    border-radius: 3px;
    border: 1px solid black;
    height: 35px;
    width: 50px;
    margin: 10px 10px 10px 110px;
}

/*.toc {*/
/*    position: absolute;*/
/*    display: none;*/
/*    bottom: 0;*/
/*    right: 0;*/
/*    left: 0;*/
/*    width: auto;*/
/*    max-width: 750px;*/
/*    height: 250px;*/
/*}*/

.attListDiv {
    position: absolute;
    display: none;
    margin: 350px auto auto 350px;
    bottom: 5px;
    right: 260px;
     /*padding: 10px;*/

    width: auto;
    max-width: 750px;
    height: 300px;
    /*height: 250px;*/
    /*height: 25%;*/
    background-color: rgba(255, 255, 255, 0.9);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    line-height: 1.45;
    border-radius: 2px;
    border: 1px solid #d1d1d1;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.5);
    /* z-index: 5; */
    overflow: scroll;
}

#attQryTable {
    padding: 0;
    border-collapse: collapse;
}

#attQryTable, td, th {
    padding: 0px 5px 0px 5px;
    border: 1px solid black;
}

#attQryTable th {
    color: white;
    background-color: #087047;
    position: sticky;
    top: 0;
    font-style: normal;
    padding: 5px 10px 5px 10px;
}

#attQryTable tr:hover
    /* {font-weight: bolder; background-color: rgb(225, 225, 225);} */
{
    background-color: lightgrey;
}

#headerDiv {
    background-color: #044226;
    height: 35px;
    margin: 0px 0px 10px 0px;
}

#headerDiv label {
    color: white;
    margin: 10px;
    font-weight: bold;
}

.spQueryDiv {
    position: absolute;
    display: none;
    /*top: 10px;*/
    /*left: 45px;*/
    margin: 90px auto auto 55px;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.3);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    line-height: 1.45;
    border-radius: 2px;
    border: 1px solid #d1d1d1;
    box-shadow: 0px 0px 15px rgba(100, 100, 100, 0.5);
    /* z-index: 4; */
    /* overflow: scroll; */
}

.spQueryDiv select {
    width: 225px;
    height: 35px;
    border: 1px solid lightgrey;
    border-radius: 40px;
    padding: 10px;
    margin: 0px auto 20px 10px;
}

.spQueryDiv input {
    width: 225px;
    height: 35px;
    border: 1px solid lightgrey;
    border-radius: 40px;
    padding: 10px;
    margin: 0px auto 20px 10px;
}

.spQueryDiv label {
    color: grey;
    margin: 10px 10px 0px 10px;
}

/* .attQueryDiv label:nth-child(1) {
  margin: 10px;
  font-weight: bold;
 } */

.spQryRun {
    color: white;
    background-color: green;
    border-radius: 30px;
    border: 1px solid black;
    height: 35px;
    width: 50px;
    margin: 10px 22px 10px 22px;
}

.spQryClear {
    /* position: absolute; */
    color: white;
    background-color: slategrey;
    border-radius: 30px;
    border: 1px solid black;
    height: 35px;
    width: 50px;
    margin: 10px;
}

.attQryClear {
    color: white;
    background-color: slategrey;
    border-radius: 30px;
    border: 1px solid black;
    height: 35px;
    width: 50px;
    margin: 10px;
}

.spUserInput {
    color: whitesmoke;
    background-color: rgb(7, 124, 159);
    border-radius: 30px;
    border: 1px solid rgb(0, 0, 0);
    height: 35px;
    width: 50px;
    margin: 10px;
}

#bufferDistance {
    width: 100px;
}

#distanceUnits {
    width: 100px;
    margin: 0px auto 0px 20px;;
}

.spUserInput.clicked {
    background-color: rgb(234, 206, 10);
}


.ol-scale-bar {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 8px;
    /*left: 17%;*/
}

.ol-scale-text {
    position: absolute;
    text-align: center;
    bottom: 25px;
    color: #06563c;
    font-weight: bold;
    font-size: 15px;
}

.ol-scale-step-text {
    color: #06563c;
    font-weight: bold;
}

element.style{
    width: 27px;
    background-color: red;
}

.settingsDiv {
    position: absolute;
    display: none;
    margin: 325px auto auto 55px;
    width: 250px;
    /* height: 250px; */
    background-color: rgba(255, 255, 255, 0.3);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    line-height: 1.45;
    border-radius: 2px;
    border: 1px solid #d1d1d1;
    box-shadow: 0px 0px 15px rgba(100, 100, 100, 0.5);
    /* z-index: 4; */
    /* overflow: scroll; */
}

.settingsDiv select {
    width: 225px;
    height: 35px;
    border: 1px solid lightgrey;
    border-radius: 30px;
    margin: 0px auto 20px 10px;
}


.settingsDiv label {
    color: grey;
    margin: 10px 10px 0px 10px;
}

.editingControlsDiv {
    position: absolute;
    display: none;
    top: 240px;
    left: 48px;
}

.editingControlsDiv {
    animation: editingControlsDiv 2s linear;
}

@keyframes editingControlsDiv {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


div#addFeatureButtonDiv.myButtonDiv {
    padding-top: 0px;
}

.myImg {
    width: 22px;
    height: 22px;
    filter: brightness(0) invert(1);
}

.myButton .tooltiptext {
    visibility: visible;
    width: 120px;
    background-color: #000;
    /*background-color: #065b37;*/
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    left: 125%;
    /* margin-left: -60px; */
    opacity: 0;
    transition: opacity 0.3s;
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-style: normal;
}

.myButton .tooltiptext::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #000 transparent transparent;
}

.myButton:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#table_wms_layers {
    white-space: nowrap;
    /*background-color: #b3c5db;*/
    border-collapse: separate;
    font-family: arial;
    font-size: 14px;

}

#table_wms_layers th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
    background-color: darksalmon;
}

/*** legend css ***/

.legendDiv {
    position: absolute;
    display: block;
    bottom:5px;
    right: 10px;
    width: 250px;
    height: 300px;
    /*margin: 90px auto auto 55px;*/
    background-color: rgba(255, 255, 255, 0.8);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    line-height: 1.45;
    border-radius: 2px;
    border: 1px solid #d1d1d1;
    box-shadow: 0px 0px 15px rgba(100, 100, 100, 0.5);
    /*z-index: 4;*/
    overflow: scroll;
}

.legend {
    padding-left: 20px;
}

/*** start : CSS for search bar ***/

/*** STYLES ***/
.search {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 97%;
    height: 30px;
    width: 30px;
    box-sizing: border-box;
    /* margin: 0px 8px 7px 0px; */
    margin-left: -35px;
    /*padding: 7px 9px 0px 9px;*/
    border: 3px solid rgba(60, 116, 189, 0.3);
    background-color: rgba(155, 192, 241, 0.3);
    border-radius: 25px;
    transition: all 200ms ease;
    cursor: text;
}

.search:after {
    content: "";
    position: absolute;
    width: 3px;
    height: 20px;
    right: -5px;
    top: 21px;
    background: #FFFFFF;
    border-radius: 3px;
    transform: rotate(-45deg);
    transition: all 200ms ease;
}

.search.active,
.search:hover {
    width: 300px;
    margin-right: 0px;
    margin-left: -305px;
    background-color: rgba(155, 192, 241, 0.7);
}

.search:after {
    height: 0px;
}

#inpt_search {
    position: absolute;
    top: 3px;
    width: 100%;
    border: none;
    box-sizing: border-box;
    font-family: Helvetica;
    font-size: 15px;
    color: inherit;
    background: transparent;
    outline-width: 0px;
}

/*** start : CSS for search bar ***/

.liveDataDiv {
    position: fixed;
    left: 97%;
    top: 45px;
    margin-left: -305px;
    width: 300px;
    /*background-color: rgba(4, 66, 38, 0.3);*/
    /*background-color: rgba(0, 128, 0, 0.5);*/
    background-color: rgba(128, 128, 128, 0.3);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    line-height: 1.45;
    border-radius: 5px;
    border: 3px solid rgba(60, 116, 189, 0.4);
    box-shadow: outset 1px 2px 8px rgba(0, 0, 0, 0.07);
}

.liveDataDiv:empty {
    display: none;
    /*height: 250px;*/
}

/* #assetSearchTableID {
  background-color: rgba(245, 245, 245, 0.6);
} */

#assetSearchTableID td th {
    padding-left: 5px;
}

#assetSearchTableID th {
    color: black;
}

/* #assetSearchTableID tr:hover { font-weight: bolder; background-color: rgb(225, 225, 225); } */
/* #assetSearchTableID tr:hover { font-weight: bolder; background-color: rgb(225, 225, 225); } */

#assetSearchTableID th:nth-child(1),
#assetSearchTableID td:nth-child(1) {
    width: 75px;
}

#assetSearchTableID th:nth-child(2),
#assetSearchTableID td:nth-child(2) {
    width: auto;
}

#assetSearchTableID td:nth-child(2):hover
    /* {font-weight: bolder; background-color: rgb(225, 225, 225);} */
{
    font-weight: bolder;
    color: red;
}

#assetSearchTableID, td, th {
    /* padding: 0px 5px 0px 5px; */
    border: 0px;
}

#assetSearchTableID, tr {
    text-align: left;
    vertical-align: top;
}

/*** start : CSS for search bar ***/

#btnCrosshair {
    z-index: 1;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    width: 60px;
    height: 60px;
    right: 0px;
    top: 250px;
    border: none;
    color: grey;
}

#btnCrosshair.clicked {
    color: red;
}