
#delete {
  position: absolute;
  top:10px;
  left:150px;
  z-index:1001;
  color:white;
  padding:6px;
  border-radius:20px;
  background-color: red;
  font-family: 'Helvetica Neue';
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-size:12px;
  text-decoration:none;
}
#draw{
  position: absolute;
  top:10px;
  left:50px;
  z-index:1001;
  background-color: darkcyan;
  color:ghostwhite;
  padding:6px;
  border-radius:50px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  font-family: 'Helvetica Neue';
  cursor: pointer;
  font-size:12px;
  text-decoration:none;
}
#export {
  position: absolute;
  top:10px;
  left:100px;
  z-index:1001;
  color: whitesmoke;
  text-decoration: green;
  padding:6px;
  background-color: darkcyan;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  border-radius:20px;
  font-family: 'Helvetica Neue';
  cursor: pointer;
  font-size:12px;
  text-decoration:none;
  /*overflow: hidden;*/
}

#export:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow:teal;
}
#delete:hover {
    color: #000 !important;
    background-color: transparent;
    text-shadow: teal;
}
#draw:hover {
    color: #000 !important;
    background-color: transparent;
    text-shadow: teal;
}

#draw:hover:before {
	left: 0%;
	right: auto;
	width: 100%;
}
#draw:before {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 0px;
    z-index: -1;
    content: '';
    color: #000 !important;
    background: gray;
    border-radius: 20px;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

#export:hover:before {
	left: 0%;
	right: auto;
	width: 100%;
}
#export:before {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 0px;
    z-index: -1;
    content: '';
    color: #000 !important;
    background: gray;
    border-radius: 20px;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

#delete:hover:before {
	left: 0%;
	right: auto;
	width: 100%;
}
#delete:before {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 0px;
    z-index: -1;
    content: '';
    color: #000 !important;
    background: gray;
    border-radius: 20px;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}